/* navbar section Start */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{

  font-family: 'Lato', sans-serif;

}

header{
    background-color: #0B0C10;
}

a{
    color: #da984d !important;
}

.navbar-brand
{
  font-family: 'Yeseva One', cursive;

}

.nav-animaton {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.nav-animaton * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nav-animaton li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}
.nav-animaton a {
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.nav-animaton a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
}
.nav-animaton a:hover,
.nav-animaton .current a {
  color: #ffffff !important;
}
.nav-animaton a:hover:before,
.nav-animaton .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}


/* Navbar section End  */


/* Hearder section Start */

.top-header-section{
    background-color: #0B0C10;

}
.text-colore{
     color: #da984d;
}

.btn-outline-warning{
    color: #da984d !important;
}
.btn-outline-warning:hover{
color: black !important;
background-color: #da984d !important;

}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 1s;
  }
/* Hearder section End */
 


/* about us start  */

.about-us-section{
    background-color: #0B0C10;

}


/*  Explore our menu start */
.food-details-time {
  text-align: center;
}
.food-details-time a {
  text-decoration: none;
}

.food-details-time a:hover{
  color: white !important;

}

.animate-explore-food
{
  --animate-duration: 1.5s;

}
/*  Explore our menu end */


/* Recipes */
.card{
  background-color: #16171b !important;

}

.card-text-white{
  color: #ffffff ;

}


.card:hover, .card-text-white:hover {
 
  background-color: #da984d !important ;
  color: #000000 !important;
  transform: scale(1.03);

  text-shadow: 20px;
}

.hr-design{
  width: 10%;
  height: 5px !important;
}

/* Get in Touch start  */
.contact-us
{
  background-color: #0B0C10;

}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -4px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 25px 1rem 25px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 25px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 9em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #da984d;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}

/* Get in Touch End  */


/* Footer  start  */

.footer{
  background-color: #0B0C10;

}

.client-says-section{
  background-color: #0B0C10 !important; 

}

.carousel{
  background-color: #0B0C10 !important; 

}

.social-icons-f
{
  height: 45.6px;
  width: 45.6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
   align-items: center;
}
.social-icons-f i{
  color: white;

}
.social-icons-f:hover
{
  background-color: #da984d;
}


.fixed-bottom1 {
  position: fixed;
  right: 5%;
  bottom: 7%;
  z-index: 1030;
background-color: #da984d;
}

/* Footer End  */
